* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #CF9B61;

}
ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    border: none;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

.main {
	width: 100%;
	display: inline-flex;
}
.main h1 {
	padding: 50px;
	margin-bottom: 30px; 
	/*margin-left: 180px;*/
	color:  #0D0B1B;
	font-size: 50px;
	font-family: 'Pangolin', cursive;
	}
#add {
	padding: 5px;
	font-family: 'Pangolin', cursive;
}
#placeholder {
	padding: 5px;
}
.task {
	width: 960px;
	margin: -50px auto;
}

.logo {
	padding: 30px;
	-moz-transform: rotate(-15deg); /* Для Firefox */
    -ms-transform: rotate(-15deg); /* Для IE */
    -webkit-transform: rotate(-15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-15deg); /* Для Opera */
    transform: rotate(-15deg);
}

.listic {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 180px;
}

.list {
	width: 960px;
	margin: 100px auto;
}
.list > ul > span {
	font-size: 35px;
	color: #000;
	font-family: 'Pangolin', cursive;
}
.list > ul > li {
	font-size: 30px;
}